@model IEnumerable<StoreViewModel>
@{
    ViewData["Title"] = "Order";
}

<head>
    <style>
        tbody tr:hover {
            border-style: double;
            border-color: black;
            background-color: #FFC72C;
        }

        tbody {
            border-style: groove;
        }

        thead {
            border-style: groove;
            background-color: #DA291C;
        }

        .btn-primary {
            background-color: #DA291C;
        }

        .btn-primary:hover {
             background-color: #FFC72C;
        }

        a {
            color: #DA291C;
        }

         a:hover {
             color: #FF7700;
         }
    </style>
</head>


<h1>Place an Order</h1>
<div>
    <h4>Choose a Location to Make your Order!</h4>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => store.ID)
                </td>
                <td>
                    @Html.DisplayFor(model => store.Location)
                </td>
                <td>
                    @Html.ActionLink("Order Here", "OrderProducts", "Order", new { id = ViewBag.CustomerID, storeID = store.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back", "Index", "Customer")
</div>

