@*

*@

@model IEnumerable<StoreOrderViewModel>

@{
    ViewData["Title"] = "Location";
}

<head>
    <style>
        .spaceDiv {
            height: 10px;
        }
        tbody tr:hover {
            border-style: double;
            border-color: black;
            background-color: #FFC72C;
        }

        tbody {
            border-style: dotted groove groove groove;
        }

        thead {
            border-style: groove groove dotted groove;
        }
    </style>
</head>


<h1>Store Orders</h1>
<div>
    <h4>View Orders Placed here</h4>
</div>

<div class="spaceDiv">


</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => order.ID)
                </td>
                <td>
                    @Html.DisplayFor(model => order.Customer)
                </td>
                <td>
                    $@Html.DisplayFor(model => order.Cost)
                </td>
                <td>
                    @Html.DisplayFor(model => order.Date)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Order", new { order.ID })
                </td>
            </tr>
        }
    </tbody>
</table>