@*

*@

@model IEnumerable<StoreViewModel>

@{
    ViewData["Title"] = "Manager";
}
<head>
    <style>
        .spaceDiv {
            height: 10px;
        }

        tbody tr:hover {
            border-style: double;
            border-color: black;
            background-color: #FFC72C;
        }

        tbody {
            border-style: groove;
        }

        thead {
            border-style: groove;
            background-color: #DA291C;
        }

        .btn-primary {
            background-color: #DA291C;
        }

        .btn-primary:hover {
             background-color: #FFC72C;
        }

        a {
            color: #DA291C;
        }

        a:hover {
           color: #FF7700;
        }
    </style>

</head>


<h1>Manager</h1>
<div>
    <h4>Pick a Location to View</h4>
</div>

<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search for a location here:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <div><button type="submit" class="btn btn-primary">Submit</button></div>
    </form>

</div>
<div class="spaceDiv"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => store.ID)
                </td>
                <td>
                    @Html.DisplayFor(model => store.Location)
                </td>
                <td>
                    @Html.ActionLink("View", "Home", "Manager", new { store.ID })
                </td>
            </tr>
        }
    </tbody>
</table>