@*

*@

@model IEnumerable<CustomerOrderViewModel>

@{
    ViewData["Title"] = "Customer";
}

<head>
    <style>
        .centerDiv {
            width: 150px;
            margin: auto;
            height: 30px;
            border: 2px solid #000000;
            text-align: center
        }

        .spaceDiv {
            height: 10px;
        }
    </style>
</head>

<body>
    <h1>Customer Orders</h1>
    <div>
        <h4>View Orders or Choose to make a new order</h4>
    </div>


    <div class="centerDiv">
        @Html.ActionLink("Place a New Order", "MakeOrder", "Order", new { id = ViewBag.CustomerID })
    </div>
    <div class="spaceDiv">
    </div>

    <div class="spaceDiv">
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => order.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Location)
                    </td>
                    <td>
                        $@Html.DisplayFor(model => order.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Order", new { order.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Sign Out</a>
    </div>
</body>