
@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Customers";
}


<head>
    <style>
        .spaceDiv {
            height: 10px;
        }
    </style>
</head>

<h1>Customers</h1>
<div>
    <h4>Sign in, or Create a new Account</h4>
</div>

<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search for yourself here:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="search" placeholder="Search" />
        <div><button type="submit" class="btn btn-primary">Submit</button> | OR | @Html.ActionLink("Create Account", "Create", "Customer")</div>
    </form>
    
</div>
<div class="spaceDiv"></div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => cust.ID)
                </td>
                <td>
                    @Html.DisplayFor(model => cust.FullName)
                </td>
                <td>
                    @Html.ActionLink("Sign in", "Home", "Customer", new { cust.ID })
                </td>
            </tr>
        }
    </tbody>
</table>